<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO9mK8A8SPi1S3j5vceV_Jdx5vyS_k58M</string>
	<key>GCM_SENDER_ID</key>
	<string>729326871514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biotechmaali.app</string>
	<key>PROJECT_ID</key>
	<string>gidanstore-439ef</string>
	<key>STORAGE_BUCKET</key>
	<string>gidanstore-439ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729326871514:ios:975961f5b2dbfb53e296e3</string>
</dict>
</plist>